body {
  background: black;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
}

section {
  grid-column: 1 / span 12;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
}

.container {
  display: flex;
  flex-direction: row;
}

div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -20px;
}

.div_container {
  margin-top: 20px;
  flex-direction: column;
  align-items: start;
  justify-items: center;
}

.div_container1 {
  flex-direction: column;
  align-items: start;
  margin-bottom: 115px;
}

.div_container2 {
  flex-direction: row;
  align-items: start;
  margin-bottom: 10px;
}

.quote-container {
  grid-column: 3 / span 9;
  display: flex;
  justify-items: center;
  align-items: center;
}

a {
  color: grey;
  text-decoration: none;
  padding: 15px;
}

a:hover {
  color: white;
  text-decoration: underline orange;
  text-decoration-thickness: 2px;
}

button {
  width: 200px;
  height: 60px;
  background: orange;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-style: hidden;
}

button:hover {
  background: darkorange;
}

img {
  width: 1000px;
  grid-column: 3 / span 9;
  margin-top: -50px;
}

.search-box {
  background: black;
  border-color: grey;
  color: white;
  font-size: 14px;
  max-width: 160px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 10px;
  text-align: center;
  grid-column: 11 / span 2;
}

.bell {
  font-size: 40px;
  color: white;
  margin-top: 0px;
}

.koilo {
    margin-right: 100px;
  text-align: left;
  color: white;
  font-weight: bold;
}

.quote {
  font-size: 45px;
  text-align: left;
  color: white;
}

.secondquote {
  font-size: 16px;
  text-align: left;
  color: white;
}

.firststar {
  color: orange;
  font-size: 65px;
  margin-bottom: 0px;
}

.secondstar {
  color: orange;
  font-size: 35px;
  margin-bottom: 0px;
  margin-top: 115px;
}

/*АЙФОНЧИК*/
@media (max-device-width: 375px)
and (max-device-height: 812px){
  section {
    flex-flow: column wrap;
    align-items: center;
  }
  .container {
    font-size: 50px;
  }
  .koilo {
    margin-left: 100px;
    text-align: center;
    font-size: 100px;
  }
  .search-box {
    display: none;
  }
  .bell {
    display: none;
  }
  div {
    align-items: center;
    flex-flow: column;
  }
  .quote {
    font-size: 100px;
  }
  .secondquote {
    margin-left: 50px;
    font-size: 35px;
    text-align: center;
  }
  .firststar {
    display: none;
  }
  .secondstar {
    display: none;
  }
  .div_container1 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 115px;
  }
  button {
    margin-left: 50px;
    width: 400px;
    height: 120px;
    font-size: 40px;
  }
}
/*АЙПОДИК ПРО*/
@media (max-device-width: 1024px)
and (max-device-height: 1366px) {
  section {
    flex-flow: column wrap;
    align-items: center;
  }
  .container {
    font-size: 50px;
  }
  .koilo {
    margin-left: 100px;
    text-align: center;
    font-size: 60px;
  }
  .search-box {
    display: none;
  }
  .bell {
    display: none;
  }
  .div_container {
    margin-top: 20px;
    flex-direction: column;
    align-items: end;
    justify-items: center;
  }
  .div_container1 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }
  .firststar {
    display: none;
  }
  .secondstar {
    display: none;
  }
  .quote {
    font-size: 60px;
  }
  .secondquote {
    font-size: 20px;
    text-align: center;
  }
  button {
    width: 250px;
    height: 80px;
    font-size: 20px;
  }
  img {
    width: 1000px;
    grid-column: 3 / span 9;
    margin-top: 0px;
  }
}
/*НОУТ АСУС ЗЕНБУК*/
@media (max-device-width: 1280px)
and (max-device-height: 853px){
  .container {
    font-size: 24px;
  }
  .koilo {
    margin-left: 100px;
    text-align: center;
    font-size: 24px;
  }
  .bell {
    display: none;
  }
  .container {
    margin-top: 10px;
  }
  .search-box {
    margin-top: 20px;
    font-size: 24px;
    max-width: 200px;
  }
  img {
    width: 900px;
  }
}